html,
body {
  background: linear-gradient(to top, #c70e7d -140%, black) center center fixed;
  scroll-behavior: smooth;
}

#name {
  font-weight: 400;
  font-family: 'Bungee Outline', cursive;
  text-shadow: -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white, 1px 1px 1px white;
  font-size: 15vw;
  letter-spacing: 1vw;
  text-align: center;
  position: relative;
  transform: translate(-50%, -50%);
  animation: shadow 2.5s linear infinite;
}
.stars {
  position: absolute;
  z-index: 0;
  background: transparent;
}

#stars-small {
  width: 1px;
  height: 1px;
  animation: animStar 20s linear infinite;
}

#stars-medium {
  width: 2px;
  height: 2px;
  animation: animStar 40s linear infinite;
}

#stars-large {
  width: 3px;
  height: 3px;
  animation: animStar 60s linear infinite;
}

@keyframes shadow {
  50% {
      text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white, 0 0 40px white, 0 0 20px white;
      color: white;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}

.test {
  width: 300px;
  height: 300px;
  position: relative;
  animation: test 0.5s infinite steps(1);
  background-image: url(http://i.imgur.com/E2ee6fI.gif);
  background-repeat: no-repeat;
	background-position: center center;
  animation-play-state: paused;
}

.test:hover {
  animation-play-state: running;
}

@keyframes test {
  0%   { background-image: url('http://i.imgur.com/E2ee6fI.gif'); }
	15%  { background-image: url('http://i.imgur.com/JIi0uul.gif'); }
	30%  { background-image: url('http://i.imgur.com/owNGnNN.gif'); }
	45%  { background-image: url('http://i.imgur.com/2Ii6XOz.gif'); }
	60%  { background-image: url('http://i.imgur.com/ZmQBrQ5.gif'); }
	75%  { background-image: url('http://i.imgur.com/iAsfHyY.gif'); }
	90%  { background-image: url('http://i.imgur.com/AJwRblj.gif'); }
	100% { background-image: url('http://i.imgur.com/fx5wUNY.gif'); }
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}


.horizontal-scroll-wrapper {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg);
}
.horizontal-scroll-wrapper > div {
  transform: rotate(90deg);
}

.squares {
  padding: 100vw 0 0 0;
  width: 100vw;
}



/*Scroll*/

#box {
  background-color: rgba(40, 40, 190, 255);
  border: 4px solid rgb(20, 20, 120);
  transition: background-color 1s, border 1s;
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.vertical {
  color: white;
  font: 32px "Arial";
}