body {
  background: linear-gradient(to top, blue -140%, black) center center fixed;
  scroll-behavior: smooth;
  height: auto;
  width: 100%;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}

.image-wrapper {
  position: relative;
  top: 0;
  left: 0;
}

#image-caption {
  top: 200px;
  left: 0px;
  position: relative;
}

.clickable-image {
  width: 300px;
}

.top-0 {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
}
.top-1 {
  top: -10px;
  left: 10px;
  position: absolute;
  z-index: 1;
}
.top-2 {
  top: -20px;
  left: 20px;
  position: absolute;
}

#vertical-scroll-wrapper {
 position: fixed;
 left: 0;
 top: 0;
 height: 100%;
 width: 100%;
 overflow: auto;
}


#second-section {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border-radius: 20px;
}

#third-section {
  margin-top: 40px;
}

.section-heading {
  font-family: Montserrat;
  font-size: 4.5vw;
  color: white;
}

.section-text {
  font-family: Montserrat;
  font-size: 1.9vw;
  color: white;
}


/* Styling for the big CANNON */
#name {
  font-weight: 400;
  font-family: 'Bungee Outline', cursive;
  text-shadow: -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white, 1px 1px 1px white;
  font-size: 15vw;
  letter-spacing: 1vw;
  position: relative;
  animation: shadow 2.5s linear infinite;
}

@keyframes shadow {
  50% {
      text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white, 0 0 40px white, 0 0 20px white;
      color: white;
  }
}


/* Load stars in the background */
.stars {
  position: absolute;
  z-index: 0;
  background: transparent;
}

#stars-small {
  width: 1px;
  height: 1px;
  animation: animStar 40s linear infinite;
}

#stars-medium {
  width: 2px;
  height: 2px;
  animation: animStar 80s linear infinite;
}

#stars-large {
  width: 3px;
  height: 3px;
  animation: animStar 120s linear infinite;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}


/* Testing to play a gif on hover */
/* Currently plays a dancing banana */
.test {
  width: 300px;
  height: 300px;
  position: relative;
  animation: test 0.5s infinite steps(1);
  background-image: url(http://i.imgur.com/E2ee6fI.gif);
  background-repeat: no-repeat;
	background-position: center center;
  animation-play-state: paused;
}

.test:hover {
  animation-play-state: running;
}

@keyframes test {
  0%   { background-image: url('http://i.imgur.com/E2ee6fI.gif'); }
	15%  { background-image: url('http://i.imgur.com/JIi0uul.gif'); }
	30%  { background-image: url('http://i.imgur.com/owNGnNN.gif'); }
	45%  { background-image: url('http://i.imgur.com/2Ii6XOz.gif'); }
	60%  { background-image: url('http://i.imgur.com/ZmQBrQ5.gif'); }
	75%  { background-image: url('http://i.imgur.com/iAsfHyY.gif'); }
	90%  { background-image: url('http://i.imgur.com/AJwRblj.gif'); }
	100% { background-image: url('http://i.imgur.com/fx5wUNY.gif'); }
}


/* Stuff to test Inersection Observer API */
#box {
  background-color: rgba(40, 40, 190, 255);
  border: 4px solid rgb(20, 20, 120);
  transition: background-color 1s, border 1s;
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.vertical {
  color: white;
  font: 32px "Arial";
}

/* Experimenting with scrolling */
.observer__target {
  position: relative;
  width: 100%;
  background: rebeccapurple;
}

.observer__state {
  position: fixed;
  top: 1em;
  left: 1em;
  color: white;
  font: 400 1.125em/1.5 sans-serif;
  background: #fff;
}