body {
  background: linear-gradient(to top, blue -140%, black) center center fixed;
  scroll-behavior: smooth;
  height: auto;
  width: 100%;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}

.image-wrapper {
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
}

.image-caption {
  top: 25vw; /* This value is based on the height of the images */
  left: 0px;
  position: relative;
  color: white;
  font-size: calc(6px + .8vw);
  overflow: hidden;
}

.clickable-image {
  width: 25vw;
  height: 25vw;
  margin: auto;
}

.portfolio-row {
  margin: 10vh 0;
}

.top-0 {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 6;
}
.top-1 {
  top: -0.8vw;
  left: 0.8vw;
  position: absolute;
  z-index: 5;
}
.top-2 {
  top: -1.6vw;
  left: 1.6vw;
  position: absolute;
  z-index: 4;
}
.top-3 {
  top: -2.4vw;
  left: 2.4vw;
  position: absolute;
  z-index: 3;
}
.top-4 {
  top: -3.2vw;
  left: 3.2vw;
  position: absolute;
  z-index: 2;
}
.top-5 {
  top: -4vw;
  left: 4vw;
  position: absolute;
  z-index: 1;
}

#vertical-scroll-wrapper {
 position: fixed;
 left: 0;
 top: 0;
 height: 100%;
 width: 100%;
 overflow: auto;
}


#second-section {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border-radius: 20px;
}

#third-section {
  margin-top: 40px;
}

.section-heading {
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  font-size: calc(25px + 2vw);
  color: white;
}

.section-text {
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  font-size: calc(10px + 1vw);
  color: white;
}


/* Styling for the big CANNON */
#name {
  font-weight: 400;
  font-family: 'Bungee Outline', sans-serif;
  text-shadow: -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white, 1px 1px 1px white;
  font-size: 15vw;
  letter-spacing: 1vw;
  position: relative;
  animation: shadow 2.5s linear infinite;
}

@keyframes shadow {
  50% {
      text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white, 0 0 40px white, 0 0 20px white;
      color: white;
  }
}


/* Load stars in the background */
.stars {
  position: absolute;
  z-index: 0;
  background: transparent;
}

#stars-small {
  width: 1px;
  height: 1px;
  animation: animStar 40s linear infinite;
}

#stars-medium {
  width: 2px;
  height: 2px;
  animation: animStar 80s linear infinite;
}

#stars-large {
  width: 3px;
  height: 3px;
  animation: animStar 120s linear infinite;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}


/* Testing to play a gif on hover */
/* Currently plays a dancing banana */
.gif {
  width: 300px;
  height: 300px;
  position: relative;
  animation: gif 0.5s infinite steps(1);
  content: url(http://i.imgur.com/E2ee6fI.gif);
  background-repeat: no-repeat;
  background-position: center center;
  animation-play-state: paused;
}
.gif:hover {
  animation-play-state: running;
}

@keyframes gif {
  0%   { content: url('http://i.imgur.com/E2ee6fI.gif'); }
  15%  { content: url('http://i.imgur.com/JIi0uul.gif'); }
  30%  { content: url('http://i.imgur.com/owNGnNN.gif'); }
  45%  { content: url('http://i.imgur.com/2Ii6XOz.gif'); }
  60%  { content: url('http://i.imgur.com/ZmQBrQ5.gif'); }
  75%  { content: url('http://i.imgur.com/iAsfHyY.gif'); }
  90%  { content: url('http://i.imgur.com/AJwRblj.gif'); }
  100% { content: url('http://i.imgur.com/fx5wUNY.gif'); }
}


/* Stuff to test Inersection Observer API */
#box {
  background-color: rgba(40, 40, 190, 255);
  border: 4px solid rgb(20, 20, 120);
  transition: background-color 1s, border 1s;
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.vertical {
  color: white;
  font: 32px "Arial";
}

/* Experimenting with scrolling */
.observer__target {
  position: relative;
  width: 100%;
  background: rebeccapurple;
}

.observer__state {
  position: fixed;
  top: 1em;
  left: 1em;
  color: white;
  font: 400 1.125em/1.5 sans-serif;
  background: #fff;
}


.incorrect::placeholder {
  color: red !important;
}

.form-background {
  background: rgba(20,20,20, 0.8);
  border-radius: 50px;
}

.field-text {
  color: white;
  font-family: Montserrat, sans-serif;
}

.input::placeholder, .input{
  color: black;
  font-family: Montserrat, sans-serif;
}

textarea {
  width: 60vw;
  height: 10vw;
  resize: none;
}


.input-100 {
  height: 150px;
  border-radius: 10px;
}

.input-50 {
  width: 30vw;
  height: 60px;
  border-radius: 10px;
}

.email {
  height: 60px;
}

.message {
  height: 300px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
  font-family: Montserrat, sans-serif;
  font-size: calc(10px + 1vw);
}

input {
  font-size: 20px;
}

.send-button {
  border-radius: 10%;
  width: 15vw;
  height: 50px;
  background-color: rgba(100,100,100,0.8);
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: calc(10px + 1vw);
}
.send-button:hover {
  background-color: rgba(75,75,75,1);
}