html,
body {
  margin: 0;
  background: pink;
  scroll-behavior: smooth;
}

#target {
  z-index: 2;
  display: grid;
}

.fullheightcenter {
  z-index: -2;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to top, #c70e7d -140%, black);
  margin: 0;
}

#name {
  font-weight: 400;
  font-family: 'Bungee Outline', cursive;
  text-shadow: -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white, 1px 1px 1px white;
  font-size: 12vw;
  letter-spacing: 1vw;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  animation: shadow 3s linear infinite;
}
.stars {
  position: absolute;
  z-index: 0;
  background: transparent;
}

#stars-small {
  width: 1px;
  height: 1px;
  animation: animStar 20s linear infinite;
}

#stars-medium {
  width: 2px;
  height: 2px;
  animation: animStar 40s linear infinite;
}

#stars-large {
  width: 3px;
  height: 3px;
  animation: animStar 60s linear infinite;
}

@keyframes shadow {
  50% {
      text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white, 0 0 30px white;
      color: white;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}

.test {
  width: 300px;
  height: 300px;
  position: relative;
  animation: test 0.5s infinite steps(1);
  background-image: url(http://i.imgur.com/E2ee6fI.gif);
  background-repeat: no-repeat;
	background-position: center center;
  animation-play-state: paused;
}

.test:hover {
  animation-play-state: running;
}

@keyframes test {
  0%   { background-image: url('http://i.imgur.com/E2ee6fI.gif'); }
	15%  { background-image: url('http://i.imgur.com/JIi0uul.gif'); }
	30%  { background-image: url('http://i.imgur.com/owNGnNN.gif'); }
	45%  { background-image: url('http://i.imgur.com/2Ii6XOz.gif'); }
	60%  { background-image: url('http://i.imgur.com/ZmQBrQ5.gif'); }
	75%  { background-image: url('http://i.imgur.com/iAsfHyY.gif'); }
	90%  { background-image: url('http://i.imgur.com/AJwRblj.gif'); }
	100% { background-image: url('http://i.imgur.com/fx5wUNY.gif'); }
}


.wrapper {
  display: grid;
  position: relative;
  margin: auto;
  margin-top: 5vh;
  align-self: center;
  justify-items: center;
  justify-self: center;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /*Auto-fit allows resizing*/
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  place-self: center;
  text-align: center;
  width: 50%;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
